body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background: url("./img/bg.png") no-repeat;
            background-size: cover;
        }

        h1 {
            font-size: 36px;
            color: #ffffff;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            text-align: center;
            padding: 20px;
        }

        .pera {
            font-size: 18px;
            color: #cfc5c5;
            display: flex;
            justify-content: left;
            margin-bottom: 20px;
        }

        .pera-blod {
            font-size: 20px;
            color: rgb(255, 255, 255);
        }

        /* Button Style */
        .gradient-button-1 {
            /* ... (your existing styles) ... */
            position: relative;
            background: linear-gradient(to right, #bb2424, #f39821);
            border: none;
            color: white;
            padding: 15px 30px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 10px 2px;
            cursor: pointer;
            border-radius: 5px;
        }

        .gradient-button-1::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border: 5px solid transparent;
            border-radius: 5px;
            opacity: 0;
            animation: pulse 1s infinite alternate;
        }

        @keyframes pulse {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
                border-color: white;
            }
        }

        .gradient-button-2 {
            /* ... (your existing styles) ... */
            position: relative;
            background: linear-gradient(to right, #bb2424, #f39821);
            border: none;
            color: white;
            padding: 15px 30px;
            text-align: center;
            text-decoration: none;
            display: block;
            /* Changed to "block" to ensure it's on a separate line */
            font-size: 16px;
            margin: 10px auto;
            /* Centered horizontally */
            cursor: pointer;
            border-radius: 5px;
        }

        .gradient-button-2::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border: 5px solid transparent;
            border-radius: 5px;
            opacity: 0;
            animation: pulse 1s infinite alternate;
        }

        .des {
            color: #ffffff;
        }

        /* Style for the text area */
        textarea {
            width: 100%;
            padding: 0;
            border-radius: 5px;
        }

        /* Style for the image */
        #image-container {
            display: none;
        }

        /* Style for the slider */
        #slider-container {
            display: none;
        }

        .slider-img {
            margin: 10px;
        }

        .slider-des {
            font-size: 18px;
            color: #ffffff;
            text-shadow: 1px 2px rgb(13, 0, 255);
            display: flex;
            justify-content: center;
        }

        /* Style for the first progress bar Start */
        .progress-container {
            font: 13px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;
            margin: 60px auto;
            width: 400px;
            text-align: center;
        }

        .progress-container .progress {
            margin: 0 auto;
            width: 400px;
        }

        .progress {
            padding: 4px;
            background: rgba(255, 255, 255, 0.25);
            border-radius: 6px;
            -webkit-box-shadow: inset 0 1px 2px rgb(255, 255, 255), 0 1px rgba(246, 246, 246, 0.08);
            box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.25), 0 1px rgba(255, 233, 233, 0.08);
        }

        .progress-bar {
            height: 16px;
            border-radius: 4px;
            background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
            background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
            background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
            -webkit-transition: 0.4s linear;
            -moz-transition: 0.4s linear;
            -o-transition: 0.4s linear;
            transition: 0.4s linear;
            -webkit-transition-property: width, background-color;
            -moz-transition-property: width, background-color;
            -o-transition-property: width, background-color;
            transition-property: width, background-color;
            -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
            box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
        }

        #five:checked~.progress>.progress-bar {
            width: 5%;
            background-color: #f63a0f;
        }

        #twentyfive:checked~.progress>.progress-bar {
            width: 25%;
            background-color: #f27011;
        }

        #fifty:checked~.progress>.progress-bar {
            width: 50%;
            background-color: #f2b01e;
        }

        #seventyfive:checked~.progress>.progress-bar {
            width: 75%;
            background-color: #f2d31b;
        }

        #onehundred:checked~.progress>.progress-bar {
            width: 100%;
            background-color: #86e01e;
        }

        .radio {
            display: none;
        }

        .label {
            display: inline-block;
            font-size: 20px;
            margin: 0 5px 20px;
            padding: 3px 8px;
            color: #000000;
            text-shadow: 0 1px rgb(255, 255, 255);
            border-radius: 3px;
            cursor: pointer;
        }

        .radio:checked+.label {
            color: rgb(255, 255, 255);
            background: #f59247be;
        }

        /* Style for the first progress bar End */
        /* Style for the second progress bar Start */
        .progress-container {
            font: 13px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;
            margin: 60px auto;
            width: 400px;
            text-align: center;
        }

        .progress2 {
            padding: 4px;
            background: rgba(255, 255, 255, 0.25);
            border-radius: 6px;
            -webkit-box-shadow: inset 0 1px 2px rgb(255, 255, 255), 0 1px rgba(246, 246, 246, 0.08);
            box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.25), 0 1px rgba(255, 233, 233, 0.08);
        }

        .progress-bar2 {
            height: 16px;
            border-radius: 4px;
            background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
            background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
            background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
            -webkit-transition: 0.4s linear;
            -moz-transition: 0.4s linear;
            -o-transition: 0.4s linear;
            transition: 0.4s linear;
            -webkit-transition-property: width, background-color;
            -moz-transition-property: width, background-color;
            -o-transition-property: width, background-color;
            transition-property: width, background-color;
            -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
            box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
        }

        #ten:checked~.progress2>.progress-bar2 {
            width: 5%;
            background-color: #f63a0f;
        }

        #thirty:checked~.progress2>.progress-bar2 {
            width: 25%;
            background-color: #f27011;
        }

        #sixty:checked~.progress2>.progress-bar2 {
            width: 50%;
            background-color: #f2b01e;
        }

        #ninety:checked~.progress2>.progress-bar2 {
            width: 75%;
            background-color: #f2d31b;
        }

        #onehundred2:checked~.progress2>.progress-bar2 {
            width: 100%;
            background-color: #86e01e;
        }

        .radio {
            display: none;
        }

        .radi {
            color: #ffffff;
        }

        .label {
            display: inline-block;
            font-size: 20px;
            margin: 0 5px 20px;
            padding: 3px 8px;
            color: #ffffff;
            text-shadow: 2px 2px rgb(0, 195, 255);
            border-radius: 3px;
            cursor: pointer;
        }


        /* Style for the second progress bar End */
        /* Style for the third progress bar Start */
        .progress3 {
            padding: 4px;
            background: rgba(255, 255, 255, 0.25);
            border-radius: 6px;
            -webkit-box-shadow: inset 0 1px 2px rgb(255, 255, 255), 0 1px rgba(246, 246, 246, 0.08);
            box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.25), 0 1px rgba(255, 233, 233, 0.08);
        }

        .progress-bar3 {
            height: 16px;
            border-radius: 4px;
            background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
            background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
            background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
            -webkit-transition: 0.4s linear;
            -moz-transition: 0.4s linear;
            -o-transition: 0.4s linear;
            transition: 0.4s linear;
            -webkit-transition-property: width, background-color;
            -moz-transition-property: width, background-color;
            -o-transition-property: width, background-color;
            transition-property: width, background-color;
            -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
            box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
        }

        #fifteen:checked~.progress3>.progress-bar3 {
            width: 5%;
            background-color: #f63a0f;
        }

        #forty:checked~.progress3>.progress-bar3 {
            width: 25%;
            background-color: #f27011;
        }

        #seventy:checked~.progress3>.progress-bar3 {
            width: 50%;
            background-color: #f2b01e;
        }

        #ninetyfive:checked~.progress3>.progress-bar3 {
            width: 75%;
            background-color: #f2d31b;
        }

        #onehundred3:checked~.progress3>.progress-bar3 {
            width: 100%;
            background-color: #86e01e;
        }

        /* Style for the third progress bar End */
        /* Style for the fourth progress bar Start */
        .progress4 {
            padding: 4px;
            background: rgba(0, 0, 0, 0.25);
            border-radius: 6px;
            -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
        }

        .progress-bar4 {
            height: 16px;
            border-radius: 4px;
            background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
            background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
            background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
            -webkit-transition: 0.4s linear;
            -moz-transition: 0.4s linear;
            -o-transition: 0.4s linear;
            transition: 0.4s linear;
            -webkit-transition-property: width, background-color;
            -moz-transition-property: width, background-color;
            -o-transition-property: width, background-color;
            transition-property: width, background-color;
            -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
            box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
        }

        #ten4:checked~.progress4>.progress-bar4 {
            width: 5%;
            background-color: #f63a0f;
        }

        #thirty4:checked~.progress4>.progress-bar4 {
            width: 25%;
            background-color: #f27011;
        }

        #fifty4:checked~.progress4>.progress-bar4 {
            width: 50%;
            background-color: #f2b01e;
        }

        #seventy4:checked~.progress4>.progress-bar4 {
            width: 75%;
            background-color: #f2d31b;
        }

        #onehundred4:checked~.progress4>.progress-bar4 {
            width: 100%;
            background-color: #86e01e;
        }

        /* Style for the fourth progress bar End */
        /* Style for the fifth progress bar Start */
        .progress5 {
            padding: 4px;
            background: rgba(0, 0, 0, 0.25);
            border-radius: 6px;
            -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
        }

        .progress-bar5 {
            height: 16px;
            border-radius: 4px;
            background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
            background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
            background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
            -webkit-transition: 0.4s linear;
            -moz-transition: 0.4s linear;
            -o-transition: 0.4s linear;
            transition: 0.4s linear;
            -webkit-transition-property: width, background-color;
            -moz-transition-property: width, background-color;
            -o-transition-property: width, background-color;
            transition-property: width, background-color;
            -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
            box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
        }

        #ten5:checked~.progress5>.progress-bar5 {
            width: 5%;
            background-color: #f63a0f;
        }

        #twentyfive5:checked~.progress5>.progress-bar5 {
            width: 25%;
            background-color: #f27011;
        }

        #fifty5:checked~.progress5>.progress-bar5 {
            width: 50%;
            background-color: #f2b01e;
        }

        #eighty5:checked~.progress5>.progress-bar5 {
            width: 75%;
            background-color: #f2d31b;
        }

        #onehundred5:checked~.progress5>.progress-bar5 {
            width: 100%;
            background-color: #86e01e;
        }

        /* Style for the fifth progress bar End */
        /* Style for the sixth progress bar Start */
        .progress6 {
            padding: 4px;
            background: rgba(0, 0, 0, 0.25);
            border-radius: 6px;
            -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
        }

        .progress-bar6 {
            height: 16px;
            border-radius: 4px;
            background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
            background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
            background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
            -webkit-transition: 0.4s linear;
            -moz-transition: 0.4s linear;
            -o-transition: 0.4s linear;
            transition: 0.4s linear;
            -webkit-transition-property: width, background-color;
            -moz-transition-property: width, background-color;
            -o-transition-property: width, background-color;
            transition-property: width, background-color;
            -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
            box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
        }

        #fifteen6:checked~.progress6>.progress-bar6 {
            width: 5%;
            background-color: #f63a0f;
        }

        #thirty6:checked~.progress6>.progress-bar6 {
            width: 25%;
            background-color: #f27011;
        }

        #sixty6:checked~.progress6>.progress-bar6 {
            width: 50%;
            background-color: #f2b01e;
        }

        #ninety6:checked~.progress6>.progress-bar6 {
            width: 75%;
            background-color: #f2d31b;
        }

        #onehundred6:checked~.progress6>.progress-bar6 {
            width: 100%;
            background-color: #86e01e;
        }
